.menu {
    grid-column: 1 / span 4;
    display: flex;
    background: #0099FF;
}

.nav-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.menu .logo-nav {
    width: 148px;
}

.menu ul {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #FFF;
    display: block;
    margin-right: 20px;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: .1em;
    
}