.grid-section .title-uni {
  font-family: 'Open Sans', sans-serif;
  font-size: 6rem;
  margin-bottom: 1rem;
  grid-column: 1 / 5;
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.title-cotacao {
  font-size: 2rem;
}
